<div class="footer">
  <div class="footer__copyrights">
    <p class="footer__copyrights__body">&copy; 2023. All rights reserved.</p>
  </div>
  <div class="footer__section">
    <p class="footer__section__title">Call</p>
    <p class="footer__section__body">+201141485175</p>
  </div>
  <div class="footer__section">
    <p class="footer__section__title">Write</p>
    <p class="footer__section__body">Hamdimn54@gmail.com</p>
  </div>
  <div class="footer__section">
    <p class="footer__section__title">follow</p>
    <a [href]="github" target="_blank" class="footer__section__link">
      <svg-icon class="footer__section__link__icon" viewBox="auto" name="github"></svg-icon>
    </a>
    <a [href]="linkedin" target="_blank" class="footer__section__link">
      <svg-icon class="footer__section__link__icon" viewBox="auto" name="linkedin"></svg-icon>
    </a>
  </div>
  <div class="footer__copyrights-mobile">
    <p class="footer__copyrights-mobile__body">&copy; 2023. All rights reserved.</p>
  </div>
</div>
